# CH 1_03_01_Python Review

## List

- 위의 내용까지 셀 실행 : #%%
- 다양한 자료형(클래스, 리스트, 사전)을 List에 담을 수 있다.
- 정수, 부동소수점, 문자열 자료형 모두 클래스로 구현되어 있다.

In [1]:
class tmp_class:
  pass

# 리스트 안에 tmp_class()가 인스턴스화 되어 있다.
data = [10,'Hello', tmp_class()]
print(data)

[10, 'Hello', <__main__.tmp_class object at 0x7fc5ea2794e0>]

인스턴스화된 클래스의 주솟값 : <\_\_main__.tmp_class object at 0x7f082b1d6588>

## List Indexing

In [2]:
# Indexing
data=[10,20,30,40,50,60]
print(data[0])
print(data[1])
print(data[2])

10
20
30

## List Slicing

In [3]:
# Slicing : 개수의 입장에서 접근
# 2번에서 3개(마지막)까지 슬라이싱
print(data[2:2+3])

[30, 40, 50]

In [4]:
print(data[-1])

60

In [5]:
file_name='test_file.txt'
extension = file_name[-3:]
print(extension)

txt

## List Operation

In [6]:
tmp_list = [1,2,3]
tmp_list2 = [10,20,30]

# list appending
print(tmp_list+tmp_list2)

print(tmp_list*3)

[1, 2, 3, 10, 20, 30]
[1, 2, 3, 1, 2, 3, 1, 2, 3]

## List Method

In [7]:
tmp_list = [1,2,3]
tmp_string = 'Hello World!'

print(len(tmp_list))
print(len(tmp_string))

3
12

In [8]:
tmp_list=[]

# 빈 리스트 선언할 때 추천하는 방법
tmp_list=list()

print(tmp_list)

[]

In [9]:
tmp_list.append(10)
print(tmp_list)

tmp_list.append('Hello')
print(tmp_list)

[10]
[10, 'Hello']

## List Comprehension
- 리스트를 만드는데 주로 사용

In [15]:
# 의미가 명확해 코드해석에 용이하다 == 리스트 만드는구나!
tmp_list = [i for i in range(10)]
print(tmp_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [16]:
# 동일한 결과
tmp_list = list()
for i in range(10):
  tmp_list.append(i)

In [19]:
def plus_ten(input_val):
  return input_val+10

tmp_list=[plus_ten(i) for i in range(10)]
tmp_list

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19]