# CH 1_03_02_For loop and If Statement

## for Loop

In [ ]:
tmp_list = [(i+10) for i in range(10)]

for data_idx in range(10):
  print(data_idx, tmp_list[data_idx])

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [ ]:
tmp_list = [(i+10) for i in range(20)]

# 마지막 요소 누락을 방지하는 등 robust한 결과 가능 : len(tmp_list)
# 명시적인 숫자보다 변수 사용해 버그와 디버깅 시간을 줄일 수 있다.

for data_idx in range(len(tmp_list)):
  print(data_idx, tmp_list[data_idx])

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19
10 20
11 21
12 22
13 23
14 24
15 25
16 26
17 27
18 28
19 29

In [ ]:
# in ___ : ___에 iterative한 object 들어가면 for loop 실행된다.
for data in tmp_list:
  print(data)

10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29

In [ ]:
tmp_list = [(i+10) for i in range(10)]
tmp_list2 = [(i+10) for i in range(10)]

# 간단한 코드에서 사용
for data in tmp_list:
  print(data)

print()

# 코드가 길어질 때는 인덱스가 더 필요하다
for data_idx in range(len(tmp_list)):
  print(data_idx, tmp_list[data_idx], tmp_list2[data_idx], tmp_list[data_idx]+tmp_list2[data_idx])

10
11
12
13
14
15
16
17
18
19

0 10 10 20
1 11 11 22
2 12 12 24
3 13 13 26
4 14 14 28
5 15 15 30
6 16 16 32
7 17 17 34
8 18 18 36
9 19 19 38

In [ ]:
# enumerate : 인덱스와 값 둘 다 가져올 수 있다.
for data_idx, data in enumerate(tmp_list):
  print(data_idx, data)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [ ]:
# 평균 구하기
tmp_list = [(i+10) for i in range(11)]
sum_val = 0
for data_idx, data in enumerate(tmp_list):
  sum_val += data

mean = sum_val/len(tmp_list)
print(mean)

15.0

## if Statement

In [ ]:
tmp_list = [(i+10) for i in range(100)]

sum_val = 0
data_cnt = 0

for data_idx, data in enumerate(tmp_list):
  if data >= 50 and data < 60 :
    sum_val += data
    data_cnt += 1

mean = sum_val/data_cnt
print(mean)

54.5

In [ ]:
# 최대값 찾기 : 오류 발생
tmp_list = [(i-10) for i in range(10)]
print(tmp_list)

M = 0
for data in tmp_list:
  if data > M:
    M = data
print(M)

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]
0

In [ ]:
# 최대값 찾기 : 오류 방지
tmp_list = [(i-100) for i in range(10)]
print(tmp_list)

M = None
for data in tmp_list:
  if M== None or data > M:
    M = data
print(M)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91]
-91

In [ ]:
# 최소값 찾기 : 오류 방지
tmp_list = [(i-100) for i in range(10)]
print(tmp_list)

M, m = None, None
for data in tmp_list:
  if M== None or data > M:
    M = data
  if m == None or data < m:
    m = data
print('최대값:',M, '최소값:', m)

[-100, -99, -98, -97, -96, -95, -94, -93, -92, -91]
최대값: -91 최소값: -100

In [ ]:
M, m = None, None
for data in tmp_list:
  # interger와 None 비교 불가능해서 오류 발생
  if data > M or M== None:
    M = data
print(M)

TypeError: ignored

In [ ]:
score_list = [(i+10) for i in range(90)] + [1000]
print(score_list)

grade_list = [0,0,0,0,0]
for score in score_list:
  if score >= 90 and score < 100:
    grade_list[0] += 1
  elif score >= 80 and score < 90:
    grade_list[1] += 1
  elif score < 80 and score >= 0:
    grade_list[2] += 1
  else: # else 오류 잡거나 예외처리할 때 사용
    class ScoreError(Exception):
      pass
    raise ScoreError('INVALID SCORE')

print(grade_list)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 1000]

ScoreError: ignored