# 시리즈 만들기

In [87]:
import pandas as pd
s = pd.Series(['banana',42])
print(s)

0    banana
1        42
dtype: object

In [88]:
s = pd.Series(['Wes McKinney','Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [89]:
s = pd.Series(['Wes McKinney','Creator of Pandas'], index=['Person','Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

# 데이터프레임 만들기

In [90]:
scientists = pd.DataFrame({
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born' : ['1920-07-27','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]
})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-27  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

In [91]:
scientists = pd.DataFrame(
    data={
    'Name': ['Rosaline Franklin', 'William Gosset'],
    'Occupation': ['Chemist', 'Statistician'],
    'Born' : ['1920-07-27','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]
    },
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Age','Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-27   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

인덱스 순서가 보장된 딕셔너리 전달을 위해 OrderedDict 클래스를 사용한다.

In [92]:
from collections import OrderedDict

scientists = pd.DataFrame(OrderedDict([
    ('Name', ['Rosaline Franklin', 'William Gosset']),
    ('Occupation', ['Chemist', 'Statistician']),
    ('Born', ['1920-07-27','1876-06-13']),
    ('Died', ['1958-04-16','1937-10-16']),
    ('Age', [37,61])
]))
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-27  1958-04-16   37
1     William Gosset  Statistician  1876-06-13  1937-10-16   61

# 데이터프레임에서 시리즈 선택하기

In [93]:
scientists = pd.DataFrame(
    data={
    'Occupation': ['Chemist', 'Statistician'],
    'Born' : ['1920-07-27','1876-06-13'],
    'Died' : ['1958-04-16','1937-10-16'],
    'Age' : [37,61]
    },
    index=['Rosaline Franklin', 'William Gosset'],
    columns=['Occupation','Born','Age','Died']
)
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-27   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16

데이터프레임에서 시리즈 선택하려면 loc 속성에 인덱스를 전달하면 된다.

In [94]:
firstRow = scientists.loc['William Gosset']
print(type(firstRow))

<class 'pandas.core.series.Series'>

Age 열에 정수형 리스트를 전달해도 시리즈를 출력해보면 시리즈의 자료형을 오브젝트로 인식한다.

In [95]:
print(firstRow)

Occupation    Statistician
Born            1876-06-13
Age                     61
Died            1937-10-16
Name: William Gosset, dtype: object

# index, values, keys 사용하기

In [96]:
# index 속성
print(firstRow.index)

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [97]:
# values 속성
print(firstRow.values)

['Statistician' '1876-06-13' 61 '1937-10-16']

In [98]:
# keys 메서드: index 속성과 같은 역할
print(firstRow.keys())

Index(['Occupation', 'Born', 'Age', 'Died'], dtype='object')

In [99]:
# index 속성 응용
print(firstRow.index[0])

Occupation

In [100]:
# keys 메서드 응용
print(firstRow.keys()[0])

Occupation

# 시리즈의 mean, min, max, std 메서드 사용하기

In [101]:
ages = scientists['Age']
print(ages)

Rosaline Franklin    37
William Gosset       61
Name: Age, dtype: int64

In [102]:
print(ages.mean())

49.0

In [103]:
print(ages.min())

37

In [104]:
print(ages.max())

61

In [105]:
print(ages.std())

16.97056274847714

## 시리즈 메서드 정리

|시리즈 메서드|설명|
|:---|:---|
|append|2개 이상의 시리즈 연결|
|describe|요약 통계량 계산|
|drop_duplicates|중복값이 없는 시리즈 반환|
|equals|시리즈에 해당 값을 가진 요소가 있는지 확인|
|get_values|시리즈 값 구하기(values 속성과 동일)|
|min|최솟값 반환|
|max|최댓값 반환|
|mean|산술 평균 반환|
|median|중간값 반환|
|replace|특정 값을 가진 시리즈 값을 교체|
|sample|시리즈에서 임의의 값을 반환|
|sort_values|값을 정렬|
|to_frame|시리즈를 데이터프레임으로 변환|

# 시리즈와 불린 추출 사용하기

In [106]:
scientists = pd.read_csv('../data/scientists.csv')

In [107]:
ages = scientists['Age']
print(ages.max())
print(ages.mean())

90
59.125

In [108]:
print(ages[ages>ages.mean()])

1    61
2    90
3    66
7    77
Name: Age, dtype: int64

In [109]:
print(ages>ages.mean())

0    False
1     True
2     True
3     True
4    False
5    False
6    False
7     True
Name: Age, dtype: bool

In [110]:
print(type(ages>ages.mean()))

<class 'pandas.core.series.Series'>

In [111]:
manual_bool_values=[True, True, False, False, True, True, False, True]
print(ages[manual_bool_values])

0    37
1    61
4    56
5    45
7    77
Name: Age, dtype: int64

# 시리즈와 브로드캐스팅

브로드캐스팅 : 시리즈나 데이터프레임에 있는 모든 데이터에 대해 한 번에 연산하는 것을 의미한다.

In [112]:
print(ages)

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

벡터 간 연산

In [113]:
print(ages+ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [114]:
print(ages*ages)

0    1369
1    3721
2    8100
3    4356
4    3136
5    2025
6    1681
7    5929
Name: Age, dtype: int64

벡터와 스칼라 연산

In [115]:
print(ages+100)

0    137
1    161
2    190
3    166
4    156
5    145
6    141
7    177
Name: Age, dtype: int64

In [116]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [117]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

길이가 서로 다른 벡터 연산하는 경우 같은 인덱스의 값만 계산한다.

In [118]:
print(pd.Series([1,100]))

0      1
1    100
dtype: int64

In [119]:
print(ages+pd.Series([1,100]))

0     38.0
1    161.0
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
dtype: float64

인덱스의 순서 역순

In [120]:
rev_ages = ages.sort_index(ascending=False)
print(rev_ages)

7    77
6    41
5    45
4    56
3    66
2    90
1    61
0    37
Name: Age, dtype: int64

벡터와 벡터의 연산은 일치하는 인덱스의 값끼리 수행한다.

In [121]:
print(ages*2)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

In [122]:
print(ages+rev_ages)

0     74
1    122
2    180
3    132
4    112
5     90
6     82
7    154
Name: Age, dtype: int64

# 데이터프레임과 불린 추출

In [123]:
print(scientists)

                   Name        Born        Died  Age          Occupation
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

In [124]:
print(scientists[scientists['Age']>scientists['Age'].mean()])

                   Name        Born        Died  Age     Occupation
1        William Gosset  1876-06-13  1937-10-16   61   Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90          Nurse
3           Marie Curie  1867-11-07  1934-07-04   66        Chemist
7          Johann Gauss  1777-04-30  1855-02-23   77  Mathematician

아래 코드 실행안 됨

In [125]:
print(scientists.loc[[True, True, False, True]])

IndexError: Boolean index has wrong length: 4 instead of 8

대신

In [126]:
print(scientists.loc[[0, 1, 3]])

                Name        Born        Died  Age    Occupation
0  Rosaline Franklin  1920-07-25  1958-04-16   37       Chemist
1     William Gosset  1876-06-13  1937-10-16   61  Statistician
3        Marie Curie  1867-11-07  1934-07-04   66       Chemist

데이터프레임에 2를 곱하면 정수 데이터는 2를 곱한 숫자가 되고 문자열 데이터는 문자열이 2배로 늘어난다.

# 데이터프레임과 브로드캐스팅

In [127]:
print(scientists*2)

                                       Name                  Born  \
0        Rosaline FranklinRosaline Franklin  1920-07-251920-07-25
1              William GossetWilliam Gosset  1876-06-131876-06-13
2  Florence NightingaleFlorence Nightingale  1820-05-121820-05-12
3                    Marie CurieMarie Curie  1867-11-071867-11-07
4                Rachel CarsonRachel Carson  1907-05-271907-05-27
5                        John SnowJohn Snow  1813-03-151813-03-15
6                    Alan TuringAlan Turing  1912-06-231912-06-23
7                  Johann GaussJohann Gauss  1777-04-301777-04-30

                   Died  Age                            Occupation
0  1958-04-161958-04-16   74                        ChemistChemist
1  1937-10-161937-10-16  122              StatisticianStatistician
2  1910-08-131910-08-13  180                            NurseNurse
3  1934-07-041934-07-04  132                        ChemistChemist
4  1964-04-141964-04-14  112                    BiologistBiologist
5  1858-06-161858-06-16   90                    PhysicianPhysician
6  1954-06-071954-06-07   82  Computer ScientistComputer Scientist
7  1855-02-231855-02-23  154            MathematicianMathematician

# 열의 자료형 바꾸기와 새로운 열 추가하기

파이썬의 문자열은 판다스에서 오브젝트로 취급한다.

In [128]:
print(scientists['Born'].dtype)

object

In [129]:
print(scientists['Died'].dtype)

object

In [130]:
born_datetime = pd.to_datetime(scientists['Born'], format='%Y-%m-%d')
print(born_datetime)

0   1920-07-25
1   1876-06-13
2   1820-05-12
3   1867-11-07
4   1907-05-27
5   1813-03-15
6   1912-06-23
7   1777-04-30
Name: Born, dtype: datetime64[ns]

In [131]:
died_datetime = pd.to_datetime(scientists['Died'], format='%Y-%m-%d')
print(died_datetime)

0   1958-04-16
1   1937-10-16
2   1910-08-13
3   1934-07-04
4   1964-04-14
5   1858-06-16
6   1954-06-07
7   1855-02-23
Name: Died, dtype: datetime64[ns]

In [134]:
scientists['born_dt'], scientists['died_dt'] = (born_datetime, died_datetime)
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt
0 1920-07-25 1958-04-16
1 1876-06-13 1937-10-16
2 1820-05-12 1910-08-13
3 1867-11-07 1934-07-04
4 1907-05-27 1964-04-14
5 1813-03-15 1858-06-16
6 1912-06-23 1954-06-07
7 1777-04-30 1855-02-23

In [133]:
print(scientists.shape)

(8, 7)

In [135]:
scientists['ages_days_dt']=(scientists['died_dt']-scientists['born_dt'])
print(scientists)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   37             Chemist
1        William Gosset  1876-06-13  1937-10-16   61        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   90               Nurse
3           Marie Curie  1867-11-07  1934-07-04   66             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   56           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   41  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   77       Mathematician

     born_dt    died_dt ages_days_dt
0 1920-07-25 1958-04-16   13779 days
1 1876-06-13 1937-10-16   22404 days
2 1820-05-12 1910-08-13   32964 days
3 1867-11-07 1934-07-04   24345 days
4 1907-05-27 1964-04-14   20777 days
5 1813-03-15 1858-06-16   16529 days
6 1912-06-23 1954-06-07   15324 days
7 1777-04-30 1855-02-23   28422 days

# 시리즈, 데이터프레임의 데이터 섞어보기

In [137]:
print(scientists['Age'])

0    37
1    61
2    90
3    66
4    56
5    45
6    41
7    77
Name: Age, dtype: int64

In [138]:
import random
random.seed(42)
random.shuffle(scientists['Age'])
print(scientists['Age'])

0    66
1    56
2    41
3    77
4    90
5    45
6    37
7    61
Name: Age, dtype: int64

C:\Users\SON\anaconda3\lib\random.py:307: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x[i], x[j] = x[j], x[i]

# 데이터프레임의 열 삭제하기

In [139]:
print(scientists.columns)

Index(['Name', 'Born', 'Died', 'Age', 'Occupation', 'born_dt', 'died_dt',
       'ages_days_dt'],
      dtype='object')

In [142]:
scientists

,Name,Born,Died,Age,Occupation,born_dt,died_dt,ages_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,66,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,56,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,41,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,77,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,90,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,45,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,37,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,61,Mathematician,1777-04-30,1855-02-23,28422 days

drop 메서드는 삭제한 열을 반환합니다.

In [143]:
scientists_dropped = scientists.drop(['Age'], axis=1)
print(scientists_dropped.columns)

Index(['Name', 'Born', 'Died', 'Occupation', 'born_dt', 'died_dt',
       'ages_days_dt'],
      dtype='object')

In [144]:
scientists_dropped

,Name,Born,Died,Occupation,born_dt,died_dt,ages_days_dt
0,Rosaline Franklin,1920-07-25,1958-04-16,Chemist,1920-07-25,1958-04-16,13779 days
1,William Gosset,1876-06-13,1937-10-16,Statistician,1876-06-13,1937-10-16,22404 days
2,Florence Nightingale,1820-05-12,1910-08-13,Nurse,1820-05-12,1910-08-13,32964 days
3,Marie Curie,1867-11-07,1934-07-04,Chemist,1867-11-07,1934-07-04,24345 days
4,Rachel Carson,1907-05-27,1964-04-14,Biologist,1907-05-27,1964-04-14,20777 days
5,John Snow,1813-03-15,1858-06-16,Physician,1813-03-15,1858-06-16,16529 days
6,Alan Turing,1912-06-23,1954-06-07,Computer Scientist,1912-06-23,1954-06-07,15324 days
7,Johann Gauss,1777-04-30,1855-02-23,Mathematician,1777-04-30,1855-02-23,28422 days

# 피클 형식으로 저장하기

피클
- 정의 : 데이터를 바이너리 형태로 직렬화한 오브젝트를 저장하는 방법이다. 데이터를 오래 보관한든 ㄴ듯으로 피클이라는 이름이 붙여졌다.
- 특징 : 피클로 저장하면 스프레드시트보다 더 작은 용량으로 데이터를 저장할 수 있어 매우 편리하다.
- to_pickle 메서드를 사용하고 저장 경로를 문자열로 전달한다.

In [146]:
names = scientists['Name']
names.to_pickle('../output/scientists_names_series.pickle')

In [147]:
scientists.to_pickle('../output/scientists_df.pickle')

피클은 바이너리 형태의 오브젝트이기 때문에 저장된 피클 데이터를 편집기와 같은 프로그램으로 열어보면 이상한 문자가 나타난다. 

피클 데이터는 반드시 read_pickle 메서드로 읽어 들여야 한다.

In [150]:
scientist_names_from_pickle = pd.read_pickle('../output/scientists_names_series.pickle')
print(scientist_names_from_pickle)

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [151]:
scientist_from_pickle = pd.read_pickle('../output/scientists_df.pickle')
print(scientist_from_pickle)

                   Name        Born        Died  Age          Occupation  \
0     Rosaline Franklin  1920-07-25  1958-04-16   66             Chemist
1        William Gosset  1876-06-13  1937-10-16   56        Statistician
2  Florence Nightingale  1820-05-12  1910-08-13   41               Nurse
3           Marie Curie  1867-11-07  1934-07-04   77             Chemist
4         Rachel Carson  1907-05-27  1964-04-14   90           Biologist
5             John Snow  1813-03-15  1858-06-16   45           Physician
6           Alan Turing  1912-06-23  1954-06-07   37  Computer Scientist
7          Johann Gauss  1777-04-30  1855-02-23   61       Mathematician

     born_dt    died_dt ages_days_dt
0 1920-07-25 1958-04-16   13779 days
1 1876-06-13 1937-10-16   22404 days
2 1820-05-12 1910-08-13   32964 days
3 1867-11-07 1934-07-04   24345 days
4 1907-05-27 1964-04-14   20777 days
5 1813-03-15 1858-06-16   16529 days
6 1912-06-23 1954-06-07   15324 days
7 1777-04-30 1855-02-23   28422 days

# CSV 불러오기

In [ ]:
names.to_csv('../output/scientists_names_series.csv')
scientists.to_scv('../output/scientists_df.tsv', sep='\t')

## 시리즈와 데이터프레임을 엑셀 파일로 저장하기

시리즈는 엑셀 구조와 맞지 않아 엑셀 파일로 저장할 수 없다.

엑셀 파일로 저장할 수 있는 데이터프레임으로 변환해 엑셀 파일로 바로 저장할 수 있다.

단, xls 파일로 저장하려면 xlwt 라이브러리가 필요하고 xlsx 파일로 저장하려면 openpyxl 라이브러리가 필요하다

시리즈는 to_frame이라는 메서드를 사용해 데이터프레임으로 변환한 다음 엑셀 파일로 저장해야 한다.

In [152]:
names

0       Rosaline Franklin
1          William Gosset
2    Florence Nightingale
3             Marie Curie
4           Rachel Carson
5               John Snow
6             Alan Turing
7            Johann Gauss
Name: Name, dtype: object

In [153]:
names_df = names.to_frame()

In [154]:
import xlwt
names_df.to_excel('../output/scientists_names_series_df.xls')

In [155]:
import openpyxl
names_df.to_excel('../output/scientists_names_series_df.xlsx')